@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "GowunBatang";
  src: url("/src/fonts/GowunBatang-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "GowunBatang";
  src: url("/src/fonts/GowunBatang-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Sacramento";
  src: url("/src/fonts/Sacramento-Regular.ttf");
  font-weight: 400;
}

body {
  @apply font-raleway;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

button {
  transition: all 250ms ease-in-out;
}

button:disabled {
  @apply opacity-50 border-none;
  cursor: not-allowed;
}

.arrow_btn {
  @apply rounded-[100%] border p-[10px];

  &:hover,
  &:focus {
    border-color: rgb(226, 137, 137);
  }
}

.event_card {
  width: calc((100% - 20px) / 3);
  transition: all 250ms ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  @apply flex flex-col justify-between items-center px-[8px] py-[16px];

  &:hover,
  &:focus {
    transform: translateY(-2px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
}

.event_link {
  @apply btn btn-sm btn-outline text-[12px];
}

.goBack_link {
  @apply flex gap-[4px] items-center absolute top-[16px];
}

.notice::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid gray;
}

.field {
  @apply input input-bordered w-full;
}

.error_text {
  @apply absolute text-[#790220] text-[12px];
}
